.App-header {
  display: flex;
  align-items: center;
  border-bottom:solid #e0344a;

}

.App-header h1 {
  color: #e01d3f;
  font-size: 30px;
}

.App-body {
  color: black;
  margin: 45px;
}

.App-header img {
  width: 180px;
}

.App-footer {
  justify-content: center;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  border-top:solid #e01d3f;
  font-style: italic;
}
